@import 'node_modules/bootstrap/scss/bootstrap';

// Google Fonts
@import url('http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700');

// Font Variables
$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;

// Styles
h1, h2, h3, h4, h5, h6 {
  font-family: $roboto-slab;
  font-weight: normal;
}

.name{
  font-family: $roboto-slab;
}

svg{
  height: 20px;
  width: 20px;
}

.big{
  font-size: 40px;
}

.logo{
  font-size: 50px;
}

.btn {
  font-family: $open-sans;
}

body{
    font-family: $open-sans;
    font-weight: normal;
}

.bg-image{
  background-image: url(../images/Eval_Background.jpg);
  background-attachment: fixed;
  background-color: #333333;
}

input, select, textarea{
  border:2px solid #000000;
  font-style: italic;
}
html {
  overflow-y: scroll;
}